<html>
  <head>
    <title>Pokedex</title>
    <style>
      body {
        font-family: sans-serif;
        max-width: 40em;
        margin: 0 auto;
      }

      .single-pokemon img {
        width: 50%;
      }
    </style>
  </head>
  <body>
    {{{ body }}}
  </body>
</html>
