{{#with singlePokemon}}
  <div class="single-pokemon">
    {{> item}}
  </div>
{{/with}}

{{!-- 
{
  singlePokemon: {
    name: 'gengar',
    id: 123,
    sprites: {
      animated: ''
    }
  }
} --}}