<html>
  <head>
    <link rel="stylesheet" href="/styles/main.css" />
  </head>
  <body>
    <nav>
      <span>My Fancy Website</span>
    </nav>
    {{!-- The contents of each view is going to be rendered in place of the {{{ body }}} --}}
    {{{ body }}}
  </body>
</html>
