<html>
  <head>
    <link rel="stylesheet" href="/styles/main.css">
  </head>
  <body>
    {{> navbar}}
    {{{ body }}}
    <footer>
      <a href="">Cookie Policy</a>
    </footer>
  </body>
</html>