<form action="" method="POST" enctype="multipart/form-data">
  <label for="input-name">Name</label>
  <input type="text" id="input-name" name="name" placeholder="Place Name" />

  <label for="input-description">Description</label>
  <textarea id="input-description" name="description" placeholder="Place Description"></textarea>

  <label for="input-picture">Picture</label>
  <input type="file" accept="image/*,video/*" id="input-picture" name="picture" />

  <button>Create Place</button>
</form>

