<article>
  <header>
    <h1>{{place.name}}</h1>
  </header>
  <figure>
    <img src="{{place.picture}}" alt="{{place.name}}">
  </figure>
  <section>
    <p>{{place.description}}</p>
  </section>
</article>
