<form action="" method="POST">
  <label for="title">Title</label>
  <input type="text" name="title" id="title" placeholder="Title" required minlength="5"/>
  <label for="cuisine">Cuisine</label>
  <input type="text" name="cuisine" id="cuisine" placeholder="Cuisine" />
  <button>Save Recipe</button>
</form>