<form method="POST">
  <input type="text" placeholder="Name" name="name">
  <input type="number" placeholder="Latitude" name="latitude">
  <input type="number" placeholder="Longitude" name="longitude">

  <select name="specialty">
    <option value="french">French</option>
    <option value="italian">Italian</option>
  </select>

  <button>Create Restaurant</button>
</form>
